.net a {
  color: black;
}


.net a:link {
  text-decoration: none;
}

.net a:visited {
  text-decoration: none;
}

.net a:hover {
    text-decoration: none;
    color: gray;
}

.net a:active {
    text-decoration: none;
}

.net p {
  font-size: 10px;
}

.net a {
  font-size: 15px;
}

.update {
  text-align: right;
}
