.main-content {
  margin-top: 20px;
}

.profile-info h4{
  font-size: 20px;
}

.profile-info h5 {
  font-size: 15px;
}

.profile-info a {
  font-size: 15px;
}

.profile-info img {
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
}
